ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none; 
}


/*위에 리셋 적용하기*/
/*display flex는 남발하면 나중에 유지보수가 어려워지는경향이 있으니 
정렬시에 float,display:inline-block, display:table 등등 정렬할수있는 여러가지 방식을 같이 쓰는게 좋아요!*/

.login_header{
    width: 100%;
}

.login_main{
    font-family: 'Noto Sans KR', sans-serif;
}

.login_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_logo{
    width: 20px;
    height: 20px;
}

.login_top_login{
    font-size: 24pt;
    font-weight: 500;
    text-align: center;
}

.login_kakao{
    font-size: 16pt;
    font-weight: 400;
    /* border-color: #fee500; */
    /*SH 20230113 _ 여기는 보더 컬러뿐만 아니라 스타일도 달라서 아래처럼 넣어줄게요*/
    border:1px solid #fee500;
    background-color: #fee500;
}

.login_naver{
    font-size: 16pt;
    font-weight: 400;
    color: #04cf5d;
    text-align: center;
    /* border-color: #04cf5d; */
    /* background-color: transparent; 어차피 흰색이라 안넣어주어도됩니다 */
    /*SH 20230113 _ 여기는 보더 컬러뿐만 아니라 스타일도 달라서 아래처럼 넣어줄게요*/
    border:1px solid #04cf5d;
}

.login_button{
    font-size: 16pt;
    font-weight: 500;
    color: white;
    background-color: #2f2f2f;
}

/*login_button login_email login_naver 버튼 3개는 공통적인 성향이 많으니 공통 class를 하나빼면 좋을듯해요. btn_round 라는 클래스를 추가로 줘서 css 를 먹여줄게요! */
.btn_round {
    width: 100%;
    height: 44px;
    text-align: center;
    border-radius: 25px;
}

.login_email{
    font-size: 16pt;
    font-weight: 400;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: black;
    margin: 0;
}



.login_email::before{
    content: "";
    flex-grow: 1;
    background: #ededed;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 10px 0px 0px;
}

.login_email::after{
    content: "";
    flex-grow: 1;
    background: #ededed;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 0px 0px 10px;
}

.login_id{
    width: 100%;
    height: 48px;
}

.login_pw{
    width: 100%;
    height: 48px;
}

.login_keep{
    font-size: 14pt;
    font-weight: 300;
}



.login_find{
    text-align: center;
}

.login_find_email{
    font-size: 14pt;
    font-weight: 300;
    border: none;
}

.login_find_password{
    font-size: 14pt;
    font-weight: 300;
    border: none;
}

.login_not_member{
    font-size: 14pt;
    font-weight: 300;
}

.login_join{
    font-size: 14pt;
    font-weight: 300;
    border: none;
}