body, ul,li, header, div, p, img,span, a, ol, table {
    margin: 0; 
    padding:0;
    box-sizing: border-box;
    color: #111;
    font-family: 'Noto Sans KR', sans-serif;
}

ul{
    list-style-type : none
}

a {
    text-decoration: none;
}