/*HTML 요소에 내장된 고유 CSS 스타일 속성을 초기화 시켜서, 크로스브라우징 구현에 유용. 
 브라우저마다 기본으로 제공하는 스타일이 있어서 기본값을 주기 위해 설정*/
@import "reset.css"; 

input::placeholder{
    font-size: 13px;
    color: #ababab;
    font-weight: 300;
    letter-spacing: -2px;
}

/*display flex는 남발하면 나중에 유지보수가 어려워지는경향이 있으니 
정렬시에 float,display:inline-block, display:table 등등 정렬할수있는 여러가지 방식을 같이 쓰는게 좋아요!*/
/*
===========================================================================
common
===========================================================================
*/
.wrap{
    width: 480px;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 32px;
    margin: 0 auto;
}

.box{
    padding: 0 30px;
    min-height: 500px;
}

.btn_round {
    width: 100%;
    height: 44px;
    text-align: center;
    border-radius: 25px;
}

.header{
    width: 100%;
    border-bottom: 2px solid #221e1f; 
}

.xsports_logo{
    padding: 26px 0px 23px 7px;
}


.top{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #2f2f2f;
    height: 48px;
}

/*
============================================================================
login
=============================================================================
*/

.ct_login .box{
    padding: 0 30px;
}

.ct_login .conts {
    padding : 0 58px
}

.ct_login .social_login{
    margin-left: auto;
    margin-right: auto;
}

.ct_login .login_kakao_btn{
    font-size: 16px;
    font-weight: 400;
    /* border-color: #fee500; */
    /*SH 20230113 _ 여기는 보더 컬러뿐만 아니라 스타일도 달라서 아래처럼 넣어줄게요*/
    border:1px solid #fee500;
    margin-bottom: 15px;
    background: url("../img/kakao_login.png") no-repeat 20px center / 20px, #fee500;
}

.ct_login .login_naver_btn{
    font-size: 16px;
    font-weight: 400;
    color: #04cf5d;
    text-align: center;
    background-color: #ffffff;
    /* border-color: #04cf5d; */
    /* background-color: transparent; 어차피 흰색이라 안넣어주어도됩니다 */
    /*SH 20230113 _ 여기는 보더 컬러뿐만 아니라 스타일도 달라서 아래처럼 넣어줄게요*/
    border:1px solid #04cf5d;
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../img/naver_login.png");/* 왜인지 모르겠으나.. png파일이 svg 파일로 변환이 안되어..*/
}

.ct_login .email{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: black;
    margin: 0;
    margin-top: 48px;
    margin-bottom: 25px;
}

.ct_login .email::before{
    content: "";
    flex-grow: 1;
    background: #ededed;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

.ct_login .email::after{
    content: "";
    flex-grow: 1;
    background: #ededed;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

.ct_login .id{
    width: 100%;
    height: 48px;
    border: 1px solid;
    border-color: #b4b4b4;
    display: block;
    margin-bottom: 8px;
    padding-left: 20px;
}

.ct_login .pw{
    width: 100%;
    height: 48px;
    border: 1px solid;
    border-color: #b4b4b4;
    display: block;
    padding-left: 20px;
}

.ct_login .remember{
    padding-top: 20px;
    padding-bottom: 34px;
}

.ct_login label.remember_chk{
    display:inline-flex;
    vertical-align:middle;
}

.ct_login label.remember_chk::before{
    content: '';
    display:inline-block;
    width:17px;
    height:17px;
    border:1px solid #b4b4b4;
    vertical-align:middle;
    margin-right: 10px;
}

.ct_login input[type="checkbox"]:checked + label:before{
    content:"✔";
    border-color:#b4b4b4;
    background-repeat: no-repeat;
    background-position: 50%;
}

.ct_login .remember_chk{
    width: 100%;
    font-size: 14px;
}


.ct_login .find{
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
    padding-top: 26px;
}

.ct_login .find_email{
    font-size: 14px;
    font-weight: 300;
    margin: 25px;
    border: none;
    background-color: transparent;
}

.ct_login .find_password{
    font-size: 14px;
    font-weight: 300;
    margin: 25px;
    border: none;
    background-color: transparent;
}

.ct_login .bottom{
    padding: 20px 0;
}

.ct_login .member_check{
    font-size: 14px;
    font-weight: 300;
    padding-left:30px;
    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../img/exclamation_mark.png");   
}

.ct_login .join{
    font-size: 14px;
    font-weight: 300;
    border: none;
    background-color: transparent;
    float: right;
    padding-right: 10px;
}

/*
=============================================================================
join
==============================================================================
*/

.ct_join .top{
    font-size: 24px;
}

.ct_join .join_input{
    position: relative;
    border-top: none 0;
    border-bottom: 2px solid #2f2f2f;
    margin-bottom: 40px;
}

.ct_join .join_check{
    font-size: 16px;
    font-weight: 500;
}

.ct_join .join_check:after {
    content: " *";
    color: #d34a50;
}

.ct_join .text{
    border: none;
    width: calc(100% - 50px);
    border-color: #2f2f2f;
    height: 40px;
}

.ct_join .pwd_view{
    position: absolute;
    top: 37px;
    right: 0;
    width: 30px;
    height: 30px;
}

.ct_join .pwd_icon{
    height: 40px;
    width: 40px;
}

.ct_join .agree_text{
    color: #2f2f2f;
    border-top: 1px solid; 
    border-bottom: 1px solid;
    border-color: #e3e3e3;
    font-size: 14px;
    font-weight: 300;
    padding: 14px 0 14px 0;
    margin: 14px 0 14px 0;
    letter-spacing: 1px;
}

.ct_join label.agreement_check{
    display:inline-flex;
    vertical-align:middle;
}

.ct_join label.agreement_check::before{
    content: '';
    display:inline-block;
    width:17px;
    height:17px;
    border:1px solid #b4b4b4;
    vertical-align:middle;
    margin-right: 10px;
}

.ct_join input[type="checkbox"]:checked + label:before{
    content:"✔";
    border-color:#b4b4b4;
    background-repeat: no-repeat;
    background-position: 50%;
}

.ct_join .agreement_check{
    width: 100%;
    font-size: 14px;
}

.ct_join .agreement-box{
    margin: 20px 0;
}

.ct_join .agreement-cell{
    margin-bottom: 5px;
    position: relative;
    font-weight: 300;
}

.ct_join .agreement{
    font-weight: 500;
}

.ct_join .agreement_more_btn{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url("../img/agreement_more_icon.png");
    right: 0;
}

.ct_join .join_btn{
    padding: 0 40px;
    margin-top: 40px;
}

.ct_join .btn{
    background-color: #2f2f2f;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
}

/*
=============================================================================
find_password
==============================================================================
*/

.ct_find_pw .text{
    padding-bottom: 46px;
}

.ct_find_pw .find_pw_text{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    letter-spacing:-1px
}

.ct_find_pw .find_pwd_box{
    margin: 0px 60px;
}

.ct_find_pw .enter_email{
    width: 98%;
    height: 48px;
    margin-bottom: 39px;
    border: 2px solid;
    border-color: #b4b4b4;
    padding-left: 2%;
}

/*
=============================================================================
join_email
==============================================================================
*/


.ct_join_email .join_email{
    font-size: 14pt;
    font-weight: 400;
    text-align: center;
    margin-bottom: 38px;
}

.ct_join_email .email_join{
    border: 1px solid #e1e1e1;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    background-color: #f0f0f0;
    padding: 48px;
    margin-bottom: 48px;
}
.ct_join_email .email{
    font-weight: 500;
}

.ct_join_email .email_warning{
    margin-bottom: 48px;
}
.ct_join_email .email_not_join{
    color: #c9242b;
    font-size: 14px;
    font-weight: 300;
    padding-left:45px;
    background-position: 20px 2px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url("../img/warning_icon.png");
} 

/*
=============================================================================
pwd_3months
==============================================================================
*/

.ct_join_email .protect_privacy{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 50px 0 30px 0;
}

.ct_join_email .box{
    padding: 0 10px;
}

.ct_join_email .pwd_3months{
    font-size: 16px;
    font-weight: 400;
    color: #c9242b;
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #ededed;
}

.ct_join_email .pwd_warning{
    color: #262626;
    font-size: 14px;
    font-weight: 300;
    padding:0 10px 0 45px;
    background-position: 20px 2px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url("../img/exclamation_mark.png");
} 

.ct_join_email .pwd_3months_warning{
    margin: 40px 0 0 0;
}

.ct_join_email .pwd_3months_btn_round {
    height: 44px;
    text-align: center;
    border-radius: 25px;
    border: none;
    font-size: 16pt;
    font-weight: 500;
    height: 48px;
}

.ct_join_email .pwd_3months_btn{
    display: inline-block;
    width: 48%;
    padding-top: 40px;
}

.ct_join_email .later_change{
    font-size: 16px;
    background-color: #b9b9b9;
    color: white;
    width: 100%;
}

.ct_join_email .pwd_change{
    font-size: 16px;
    background-color: #2f2f2f;
    color: white;
    width: 100%;
}

/*
=============================================================================
notice
==============================================================================
*/

.ct_notice .top{
    font-size: 36px;
    font-weight: 500;
}

.ct_notice .header{
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #000;
    padding: 40px 0 37px 0;
    overflow: hidden; /* float 하면 overflow처리 */
}

.ct_notice .menu{
    float: left;
    width: 50%;
    font-size: 20px;
}

.ct_notice .menu ul{
    align-items: center;
    display:inline-block;
}

.ct_notice .menu li{
    align-items: center;
    float: left;
    height: 40px;
    padding: 0 20px 0 0;
}

.ct_notice .menu li a{
    display:inline-block;
    align-items: center;
    padding: 0 32px;
    height: 40px;
    line-height: 40px;
}

.ct_notice .menu li a:hover{
    align-items: center;
    border-radius: 25px;
    height: 40px;
    background-color: #d8191f;
    color: white;
}

.ct_notice .header a:visited{ 
    text-decoration: none;
}

.ct_notice .search_box{
    float: left;
    width: 50%;
    border-radius: 25px;
    border: 1px solid #d9d9d9;
}

.ct_notice .search_box li{
    float: left;
}

.ct_notice .date{
    padding: 0 11px;
    border-right: 1px solid #d9d9d9;
    width: 25%;
}

.ct_notice .text{
    padding: 0 0 0 11px;
    width: 50%;
}

.ct_notice input{
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.ct_notice input[type="date"]{
    position: relative;
    padding-right: 20px;
    background-image: url(../img/calendar.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.ct_notice input[type="date"]::-webkit-inner-spin-button,
.ct_notice input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;
    -webkit-appearance: none;
}

.ct_notice .search_box input{
    height: 48px;
}

.ct_notice .search{
    width: 85%;
}

.ct_notice .search_btn{
    width: 20px;
    height: 30px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.ct_notice input::placeholder{
    color: black;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
}

.ct_notice.wrap {
    min-width: 1200px;
    margin: 0 auto;
}   

.ct_notice .title{
    padding: 30px 30px;
    border: none;
    border-bottom: 1px solid #e3e3e3;
}

.ct_notice .item{
    position: relative;
}

.ct_notice .title span{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}

.ct_notice .title span:nth-of-type(1){
    width: 10%;
    text-align: left;
}

.ct_notice .veiw_btn{
    background-image: url(../img/hide_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: 5%;
    height: 14px;
}

/* .ct_notice .title{
    background-image: url(../img/hide_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
} */

.ct_notice .title span:nth-of-type(2){
    width: 60%;
}

.ct_notice .title span:nth-of-type(3){
    width: 10%;
    color: #878787;
}

.ct_notice .title span:nth-of-type(4){
    width: 10%;
    color: #878787;
    text-align: right;
}

.ct_notice .title span:nth-of-type(5){
    width: 8%;
}

.ct_notice .pagination {
    text-align: center;
    margin-top: 60px;
}
.ct_notice .pagination a{
    display:inline-block;
    align-items: center;
    text-align: center;
    border: 1px solid #e3e3e3;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 300;
}

/*
=============================================================================
empl
==============================================================================
*/
.ct_empl .box {
    width: 1200px;
    margin: 0 auto
}
.ct_empl .top{
    font-size: 36px;
    padding-bottom: 50px;
}

.ct_empl .empl-img{
    padding-bottom: 50px;
    margin: auto;
    display: block;
}

.ct_empl .middle{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 30px 0;
}

.ct_empl .line{
    border-right: 1px solid black;
    width: 1px;
    height: 40px;
    margin: auto;
    margin-bottom: 37px;
}

.ct_empl .empl-text{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.ct_empl .arrow{
    margin: auto;
    display: block;
    padding: 9px 0 33px 0;
}

.ct_empl .empl-ex{
    text-align: center;
    margin: -25px auto 0 auto;
    width: 900px;
    background-color: #f6f7f7;
    padding: 53px 0;
}

.ct_empl .empl-mainex{
    line-height:30px;
}

.ct_empl .empl-subex{
    margin-top: 38px;
}

.ct_empl .store{
    background-position: 115px 2.5px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url("../img/exclamation_mark.png");
}


.ct_empl .btn{
    background-color: #d8191f;
    width: 380px;
    margin: auto;
    display: block;
}

.ct_empl .empl-btn{
    padding-top: 40px;
    font-size: 16px;
    font-weight: 400px;
}

.ct_empl .bracket{
    background-image: url(../img/bracket.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: padding-box;
    text-align: center;
    line-height: 34px;
    letter-spacing: 0.5px;
    padding: 10px 0;
}


.ct_empl .icon{
    margin: auto;
    display: block;
}

/*
=====================================================

1. position absolute, relative 공부해서 제가 join 에 here 이라고 표시한 부분을 absolute 로 변경해보기

2. 숙제 하면서 모르거나 헷갈리는부분 정리해놓기 !

3. join_email, find_password, join, login > div에 부분적으로 padding을 먹여서 디자인파일이랑 동일하게 만들어주세요!

=====================================================
*/