/*HTML 요소에 내장된 고유 CSS 스타일 속성을 초기화 시켜서, 크로스브라우징 구현에 유용. 
 브라우저마다 기본으로 제공하는 스타일이 있어서 기본값을 주기 위해 설정*/

@import "reset.css"; 

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none; 
}

input::placeholder{
    font-size: 13pt;
    color: #ababab;
    padding-left: 20px;
    font-weight: 200;
}

/*위에 리셋 적용하기*/
/*display flex는 남발하면 나중에 유지보수가 어려워지는경향이 있으니 
정렬시에 float,display:inline-block, display:table 등등 정렬할수있는 여러가지 방식을 같이 쓰는게 좋아요!*/

.login_header{
    width: 100%;
    border-bottom: 2px solid #221e1f;
}

.login_box {
    width: 480px;
    margin : 50px auto;
    /* border:1px solid #d9d9d9; 네모칸 잘보이라고 임의로 준 border입니다.*/
}

.xsports_logo{
    margin-bottom: 20px;
}

.login_main{
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap{
    width: 100%;
    height: 100vh;
}

.login_logo{
    width: 20px;
    height: 20px;
}

.login_top_login{
    font-size: 24pt;
    font-weight: 500;
    text-align: center;
    margin: 40px;
}

.login_kakao_btn{
    font-size: 16pt;
    font-weight: 400;
    /* border-color: #fee500; */
    /*SH 20230113 _ 여기는 보더 컬러뿐만 아니라 스타일도 달라서 아래처럼 넣어줄게요*/
    border:1px solid #fee500;
    background-color: #fee500;
    margin-bottom: 15px;
}

.login_naver_btn{
    font-size: 16pt;
    font-weight: 400;
    color: #04cf5d;
    text-align: center;
    background-color: #ffffff;
    /* border-color: #04cf5d; */
    /* background-color: transparent; 어차피 흰색이라 안넣어주어도됩니다 */
    /*SH 20230113 _ 여기는 보더 컬러뿐만 아니라 스타일도 달라서 아래처럼 넣어줄게요*/
    border:2px solid #04cf5d;
}

.login_btn{
    font-size: 16pt;
    font-weight: 500;
    color: white;
    background-color: #2f2f2f;
    margin-top: 40px;
    height: 48px;
}

/*login_button login_kakao login_naver 버튼 3개는 공통적인 성향이 많으니 공통 class를 하나빼면 좋을듯해요. btn_round 라는 클래스를 추가로 줘서 css 를 먹여줄게요! */

.btn_round {
    width: 100%;
    height: 44px;
    text-align: center;
    border-radius: 25px;
}

.login_email{
    font-size: 16pt;
    font-weight: 400;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: black;
    margin: 0;
    margin-top: 48px;
    margin-bottom: 25px;
}

.login_email::before{
    content: "";
    flex-grow: 1;
    background: #ededed;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 10px 0px 0px;
}

.login_email::after{
    content: "";
    flex-grow: 1;
    background: #ededed;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 0px 0px 10px;
}

.login_id{
    width: 100%;
    height: 48px;
    border: 2px solid;
    border-color: #b4b4b4;
    margin-bottom: 15px;
}

.login_pw{
    width: 100%;
    height: 48px;
    border: 2px solid;
    border-color: #b4b4b4;
}

.login_remember{
    margin-top: 20px;
}

label[for="loginRemember"]{
    font-size: 14pt;
    font-weight: 300;
}

.login_find{
    text-align: center;
    border-bottom: 1px solid #221e1f;
    margin-top: 25px;
    padding-bottom: 25px;
}

.login_find_email{
    font-size: 14pt;
    font-weight: 300;
    border: none;
    background-color: transparent;
}

.login_find_password{
    font-size: 14pt;
    font-weight: 300;
    border: none;
    background-color: transparent;
}

.join{
    margin-top: 25px;
}

.login_not_member{
    font-size: 14pt;
    font-weight: 300;
}

.login_join{
    font-size: 14pt;
    font-weight: 300;
    border: none;
    background-color: transparent;
}

.find_pw_text{
    font-size: 16pt;
    font-weight: 300;
    text-align: center;
    margin-bottom: 48px;
}

.enter_email{
    width: 100%;
    height: 48px;
    margin-bottom: 48px;
    border: 2px solid;
    border-color: #b4b4b4;
}

.send_email_btn{
    background-color: #2f2f2f;
    color: white;
    border: none;
    font-size: 16pt;
    font-weight: 500;
    height: 48px;
}

/*
=====================================================

1. 페이지별로 wrap에 고유한 페이지 클라스를 추가한 후 해당 페이지에서만 귀속해서 사용하는 클래스들을 캡슐화해주세요.
(고유한 페이지 클래스의 명명규칙은 ct_login, ct_find_pw 등 ct_ 를 앞에 넣어줄게요./container의 약자입니다 )

ex /

.ct_login .login_btn < 이런식으로 필요한 부분만 감싸주세요

2. padding 공부해서 내부 컨텐츠를 디자인파일이랑 동일하게 밀어주세요.

3. google font 를 연동해서 noto sans 폰트를 먹여주세요

=====================================================
*/