@import "reset.css";

.box {
    width: 420px;
}

.logo{
    border-bottom: 2px solid #000000;
    padding: 20px 0;
}

.ct_login main{
    width: 300px;
    align-items: center;
    text-align: center;
}

.ct_login h1{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 35px 0;
}

.ct_login .kakao{
    background: #fee500 url(./img/kakao_login.png) 20px center/auto 20px no-repeat ;
    border: 1px solid #fee500;
    color: #000000;
    padding-left: 5px;
}

.ct_login .naver{
    background: #ffff url(./img/naver_login.png) 20px center/auto 20px no-repeat ;
    color: #000000;
    border: 1px solid #04cf5c;
    color: #04cf5c;
    padding-left: 5px;
}

.ct_login .bnt_round{
    width: 100%;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 0;
}

.ct_login .p hr{
    border: 1px solid #ededed;
    width: 300px;
    top: -20px;
    z-index: 1;
    position: relative;
}

.ct_login .p h2{
    background-color: #ffff;
    z-index: 2;
    width: 126px;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
    font-weight: 400;
}

.ct_login .text_box{
    border: 1px solid #b4b4b4; 
}

.ct_login .login input{
    padding: 15px 0 15px 20px;
    width: 100%;
}

.ct_login input::placeholder {
    color: #b4b4b4;
    font-size: 13px;
    font-weight: 300;
}

.ct_login .check{
    text-align: left;
}

.ct_login .login input + label p{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./img/checkbox.png) 0 0 no-repeat;
    vertical-align: middle;
}

.ct_login .login input:checked + label p{
    background: url(./img/checked.png) 0 0 no-repeat;
}

.ct_login .login .bnt{
    color: #ffff;
    background: #2f2f2f;
    border: 1px solid #2f2f2f;
}

.ct_login .find{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}

.ct_login .find a:first-child{
    padding-right: 15px;
}

.ct_login .find a:last-child{
    padding-left: 15px;
}

.ct_login .join{
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}

.ct_login .join p{
    background: url(./img/exclamation_mark.png) 0 center/auto 20px no-repeat;
    text-align: left;
    display: table-cell;
    padding-left: 27px;
}

.ct_login .join a{
    background: url(./img/join.png) right center/auto 14px no-repeat;
    text-align: right;
    padding-right: 15px;
}

/* -------------------------------------------------------------------- */

.ct_3month main{
    text-align: center;
}

.ct_3month .top{
    color: #000000;
    font-weight: 400;
    border-bottom: 1px solid #ededed;
}

.ct_3month .top .change{
    font-size: 20px;
}

.ct_3month span{
    color: #c9242b;
}

.ct_3month .three{
    font-size: 16px;
}

.ct_3month .mid{
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.ct_3month .mid p{
    background: url(./img/exclamation_mark.png) 0 center/auto 20px no-repeat;
    padding-left: 25px;
}

.ct_3month .bottom{
    display: flow-root;
}

.ct_3month .bottom button{
    width: 49%;
    font-size: 16px;
    font-weight: 400;
    color: #ffff;
    border-radius: 50px;
    padding: 11px 0;
}

.ct_3month .bottom .last{
    background:#b9b9b9;
    float: left;
}

.ct_3month .bottom .change{
    background:#2f2f2f;
    float: right;
}

/*-----------------------------------------------------------------------------------------*/

.ct_join{
    width: 420px;
}

.ct_join header{
    border-bottom: 2px solid #000000;
    padding: 25px 0 20px 7px;
}

.ct_join main{
    width: 380px;
}

.ct_join h1{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 33px 0 23px 0;
}

.ct_join .enter p{
    font-size: 16px;
    font-weight: 500;
}

.ct_join .enter>div{
    border-bottom: 2px solid #000000;
    width: 100%;
}

.ct_join .enter .pwd em{
    background: url(./img/pwd_icon.png) 20px center/auto 20px no-repeat;
    display: block;
    width: 20px;
    height: 20px;
}

.ct_join .enter input::placeholder{
    color: #ababab;
    font-size: 13px;
    font-weight: 300;
}

/*-----------------------------------------------------------------------------------------*/

.ct_empl .box {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.ct_empl .top{
    font-size: 36px;
    padding-bottom: 50px;
}

.ct_empl .empl-img{
    padding-bottom: 50px;
    margin: auto;
    display: block;
}

.ct_empl .middle{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 30px 0;
}

.ct_empl .line{
    border-right: 1px solid black;
    width: 1px;
    height: 40px;
    margin: auto;
    margin-bottom: 37px;
}

.ct_empl .empl-text{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.ct_empl .arrow{
    margin: auto;
    display: block;
    padding: 9px 0 33px 0;
}

.ct_empl .empl-ex{
    text-align: center;
    margin: -25px auto 0 auto;
    width: 900px;
    background-color: #f6f7f7;
    padding: 53px 0;
}

.ct_empl .empl-mainex{
    line-height:30px;
}

.ct_empl .empl-subex{
    margin-top: 38px;
}

.ct_empl .store{
    background-position: 115px 2.5px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url("../img/exclamation_mark.png");
}


.ct_empl .btn{
    background-color: #d8191f;
    width: 380px;
    margin: auto;
    display: block;
    font-size: 16px;
    font-weight: 400;
    width: 380px;
    border-radius: 50px;
    padding: 9px 0;
    color: #ffffff;
}

.ct_empl .empl-btn{
    padding-top: 40px;
}


.ct_empl .bracket{
    background-image: url(../img/bracket.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: padding-box;
    text-align: center;
    line-height: 34px;
    letter-spacing: 0.5px;
    padding: 10px 0;
}


.ct_empl .icon{
    margin: auto;
    display: block;
}