@import "reset.css";

.ct_login .box {
    width: 420px;
}

.ct_login .logo{
    border-bottom: 2px solid #000000;
    padding: 20px 0;
}

.ct_login main{
    width: 300px;
    align-items: center;
    text-align: center;
}

.ct_login h1{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 35px 0;
}

.ct_login .kakao{
    background: url(./img/kakao_login.png) 20px center/auto 20px no-repeat #fee500;
    color: #000000;
}

.ct_login .naver{
    background: url(./img/naver_login.png) 20px center/auto 20px no-repeat #ffff;
    color: #000000;
    border: 2px solid #04cf5c;
    color: #04cf5c;
}

.ct_login .bnt_round{
    width: 100%;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 0 9px 5px;
}

.ct_login .p hr{
    border: 1px solid #ededed;
    width: 300px;
    top: -20px;
    z-index: 1;
    position: relative;
}

.ct_login .p p{
    background-color: #ffff;
    z-index: 2;
    width: 126px;
    margin: 0 auto;
    position: relative;
}

.ct_login .text_box{
    border: 1px solid #b4b4b4; 
}

.ct_login .login input{
    padding: 15px 0 15px 20px;
    width: 100%;
}

.ct_login input::placeholder {
    color: #b4b4b4;
    font-size: 13px;
    font-weight: 300;
}

.ct_login .login input[id="check1"] + label p{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./img/checkbox.png) 0 0 no-repeat;
    vertical-align: middle;
}

.ct_login .login input[id="check1"]:checked + label p{
    background: url(./img/checked.png) 0 0 no-repeat;
}

.ct_login .bnt{
    color: #ffff;
    background: #2f2f2f;
}
